<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.mobileking"
    android:versionCode="4"
    android:versionName="2.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="9" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.NFC" android:required="true" />
    


    <!--
     Creates a custom permission so only this app can receive its messages.

     NOTE: the permission *must* be called PACKAGE.permission.C2D_MESSAGE,
           where PACKAGE is the application's package name.
    -->
    <permission
        android:name="ch.mobileking.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="ch.mobileking.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@drawable/ic_launcher_new"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >

        <!--
     WakefulBroadcastReceiver that will receive intents from GCM
     services and hand them to the custom IntentService.

     The com.google.android.c2dm.permission.SEND permission is necessary
     so only GCM services can send data messages for the app.
        -->
        <receiver
            android:name=".GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>

                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="ch.mobileking" />
            </intent-filter>
        </receiver>

        <service android:name=".GcmIntentService" />

        <activity
            android:name="ch.mobileking.MainActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ch.mobileking.activity.old.ProductOverview"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="ch.mobileking.activity.barcode.BarCodeScanner"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="ch.mobileking.utils.BaseActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="ch.mobileking.ProductDetailOverview"
            android:parentActivityName=".MainTabActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <meta-data android:name="android.support.PARENT_ACTIVITY"
        		android:value=".MainTabActivity" />
        </activity>
        <activity
            android:name="ch.mobileking.activity.old.CrownDetailOverview"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="ch.mobileking.DemoActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="ch.mobileking.activity.old.RecommActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="ch.mobileking.LoyaltyCardActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="ch.mobileking.MainTabActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="ch.mobileking.RegisterActivity"
                        android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <meta-data android:name="android.support.PARENT_ACTIVITY"
        		android:value=".MainActivity" />
        </activity>   
        <activity
            android:name="ch.mobileking.activity.old.BadgeActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="ch.mobileking.activity.old.StoreKingActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>        
        <activity
            android:name="ch.mobileking.LeaderboardActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>     
        <activity
            android:name="ch.mobileking.userdata.UserSettingsActivity"
            android:parentActivityName=".MainTabActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <meta-data android:name="android.support.PARENT_ACTIVITY"
        		android:value=".MainTabActivity" />

        </activity> 
        <activity
            android:name="ch.mobileking.CameraActivity"
            android:label="@string/app_name" >
        </activity> 
                <activity
            android:name="ch.mobileking.tabs.intro.IntroSequenceActivity"
            android:parentActivityName=".MainTabActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <meta-data android:name="android.support.PARENT_ACTIVITY"
        		android:value=".MainTabActivity" />
        </activity>            
        <activity
            android:name="ch.mobileking.activity.salesslips.SalesSlipsActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>        
        <activity
            android:name="ch.mobileking.activity.salesslips.SalesSlipImageViewer"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>           
        <activity
            android:name="ch.mobileking.activity.salesslips.SalesSlipDetail"
                        android:parentActivityName=".MainTabActivity"
            
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
                        <meta-data android:name="android.support.PARENT_ACTIVITY"
        		android:value=".MainTabActivity" />
        </activity>       
        <activity
            android:name="ch.mobileking.nfcreceipt.NFCMainActivity"
            			android:parentActivityName=".MainTabActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
                         <meta-data android:name="android.support.PARENT_ACTIVITY"
        		android:value=".MainTabActivity" />
        </activity>    
        <activity
            android:name="ch.mobileking.nfcreceipt.NdefreceiveActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
                                               
        </activity>        
        <activity
            android:name="ch.mobileking.nfcreceipt.ShowDetail"
            			android:parentActivityName=".MainTabActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
                        <meta-data android:name="android.support.PARENT_ACTIVITY"
        		android:value=".MainTabActivity" />
        </activity>        
    </application>

</manifest>